*~
*.bak
\#*\#
tmp/
#.htaccess
#web.config
config.php
index.html
moduleinfo.ini
*OLD
UNUSED*
HIDE*
MANIFEST*
uploads/
#work in progress
build.ini
build_release.ini
create_manifest.ini
create_manifest.ini.bak
assets/resources/
phar_installer/out/
phar_installer/assets/install/uploadfiles/
#non-en translations
ext/
